# port for http server
HTTP_PORT=

# postgresql database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# url to connect to postgresql database
PG_URL=postgres://{user}:{password}@{host}:{port}/{database}
PG_URL_LOCALHOST=postgres://{user}:{password}@localhost:{port}/{database}

# secret key for jwt
JWT_SIGN_KEY=

# secret salt for password hashing
HASHER_SALT=

# path to Google Drive credentials file
GOOGLE_DRIVE_JSON_FILE_PATH=secrets/your_credentials_file.json
